@{
    ViewData["Title"] = "About Us";
}

<section class="about-us-section">
    <div class="container mb-5">
        <div class="row align-items-center">
            <!-- Biz Kimiz K覺sm覺 -->
            <div class="col-lg-6 col-md-12 about-content">
                <h2>Biz Kimiz?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod.Ullamco laboris nisi ut a Lorem ipsum dolor sit amet,consectetur
                    adipiscing eli ncididunt ullamco laboris nisi ut a Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-lg-6 col-md-12 svg-container">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="blob-shape">
                    <defs>
                        <clipPath id="blobClip">
                            <path fill="#D0E2FF" d="M57.1,-61.7C67.5,-46.6,64.9,-23.3,63.4,-1.5C61.9,20.3,61.5,40.7,51.1,54.3C40.7,68,20.3,75,1.5,73.5C-17.2,71.9,-34.5,61.8,-50.1,48.2C-65.8,34.5,-79.9,17.2,-78.6,1.3C-77.2,-14.6,-60.5,-29.2,-44.8,-44.2C-29.2,-59.3,-14.6,-74.9,4.4,-79.3C23.3,-83.7,46.6,-76.8,57.1,-61.7Z" transform="translate(100 100) scale(1.2)" />
                        </clipPath>
                    </defs>
                    <image href="/img/resim-7.jpg" width="200" height="200" clip-path="url(#blobClip)" preserveAspectRatio="none" />
                </svg>
            </div>
        </div>

        <!-- Misyonumuz ve Vizyonumuz K覺sm覺 -->
        <div class="row section-mission-vision mt-5">
            <!-- Misyonumuz -->
            <div class="col-lg-6 col-md-12 about-content">
                <h2>Misyonumuz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud.</p>
            </div>

            <!-- Vizyonumuz -->
            <div class="col-lg-6 col-md-12 about-content">
                <h2>Vizyonumuz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud.</p>
            </div>
        </div>

    </div>
</section>