@{
    ViewBag.Title = "Corparate";
    Layout = "_Layout";
}

<section class="py-5 section-corporate">
    <div class="container">
        <div class="row justify-content-center text-center mb-3 mb-md-5">
            <div class="col-lg-8 col-xxl-7">
                <h2 class="display-5 fw-bold mb-3">Kurumsal</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta harum ipsum venenatis metus sem veniam eveniet aperiam suscipit.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col position-relative">
                <a href="~/Home/Aboutus" class="text-decoration-none">
                    <div class="card border-0 position-relative gallery-card">
                        <img alt="Card image" class="img-fluid rounded" src="~/img/chair-1.jpg">
                        <h3 class="card-title text-white">Hakkımızda</h3>
                    </div>
                </a>
            </div>


            <div class="col position-relative">
                <a href="~/Home/Documents" class="text-decoration-none">
                    <div class="card border-0 position-relative gallery-card">
                        <img alt="Card image" class="img-fluid rounded" src="~/img/resim-3.jpg">
                        <h3 class="card-title text-white">Belgelerimiz</h3>
                    </div>
                </a>
            </div>

            <div class="col position-relative">
                <a href="~/Home/References" class="text-decoration-none">
                    <div class="card border-0 position-relative gallery-card">
                        <img alt="Card image" class="img-fluid rounded" src="~/img/resim-4.jpg">
                        <h3 class="card-title text-white">Referanslar</h3>
                    </div>
                </a>
            </div>

            <div class="col position-relative custom-shift-right">
                <a href="~/Home/Humanresources" class="text-decoration-none">
                    <div class="card border-0 position-relative gallery-card">
                        <img alt="Card image" class="img-fluid rounded" src="~/img/resim-5.jpg">
                        <h3 class="card-title text-white">İnsan Kaynakları</h3>
                    </div>
                </a>
            </div>

            <div class="col position-relative">
                <a href="~/Home/Accounts" class="text-decoration-none">
                    <div class="card border-0 position-relative gallery-card">
                        <img alt="Card image" class="img-fluid rounded" src="~/img/resim-6.jpg">
                        <h3 class="card-title text-white">Banka Bilgilerimiz</h3>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
