@model List<DocumentsPageItem>
@{
    ViewBag.Title = "Documents";
    Layout = "_Layout";
}

<div class="parallax-section">
    <h2 class="display-4">Belgelerimiz</h2>
</div>

<!-- Belgeler Görsel Kartlar -->
<div class="container my-5 section-documents">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center mt">
        
        @if(Model.Count > 0)
        {
            @foreach(var item in Model)
            {
                 <div class="col">
            <div class="card h-100">
                <img src="~/Files/DocumentPage/@item.Image" class="card-img-top" alt="@item.Name" 
                data-bs-toggle="modal" data-bs-target="#belgeModal_@item.Id">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                </div>
                </div>
            </div>
            }
        }
    </div>
</div>

<!-- Modal 1 -->
<section class="section-modal">

    <!-- Modal 2 -->
    @if(Model.Count > 0)
    {
        @foreach(var item in Model)
        {
            <div class="modal fade" id="belgeModal_@item.Id" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/Files/DocumentPage/@item.Image" class="img-fluid" alt="@item.Name">
                </div>
            </div>
        </div>
            </div>
        }
    }
</section>