@{
    ViewBag.Title = "Human Resources";
    Layout = "_Layout";
}

<div class="parallax-section-humanresources">
    <h2 class="display-4">İnsan Kaynakları</h2>
</div>

<section class="py-2 section-humanresources">
    <div class="container mb-5">
        <div class="row justify-content-between mt-5 mb-5">

            <!-- Bilgilendirme Kısmı-->
            <div class="col-lg-5 mt-5 mb-5 mt-lg-0">
                <div class="p-4 bg-light text-dark shadow-sm rounded">
                    <h4><b>MagicWall</b> Profesyonel kişilerle çalışmak istiyor!</h4>
                    <p>Formdaki tüm alanları eksiksiz olarak doldurun. Başvuru değerlendirme komitesi başvuruları değerlendirecek ve olumlu değerlendirilen adaylar mülakat için randevulu olarak MagicWall tarafından çağırılacaktır.</p>
                    <h5>Açık Pozisyonlar</h5>
                    <ul>
                        <li>Grafik Tasarımcısı</li>
                        <li>Tabela Ustası</li>
                        <li>Montaj Ekibi</li>
                        <li>Sekreter</li>
                    </ul>
                </div>
            </div>

            <!-- Başvuru Formu -->
            <div class="col-lg-6">
                <h2 class="fw-semibold mb-3">İş Başvuru Formu</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input class="form-control bg-light" placeholder="Ad" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input class="form-control bg-light" placeholder="Soyad" type="text">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <input class="form-control bg-light" placeholder="Email" type="email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <input class="form-control bg-light" placeholder="Telefon" type="tel">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="position" class="form-label">Başvurduğunuz Alan</label>
                                <select class="form-select bg-light" id="position">
                                    <option value="" selected disabled>Bir pozisyon seçin</option>
                                    <option value="grafik-tasarimcisi">Grafik Tasarımcısı</option>
                                    <option value="tabela-ustasi">Tabela Ustası</option>
                                    <option value="montaj-ekibi">Montaj Ekibi</option>
                                    <option value="sekreter">Sekreter</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="resume" class="form-label">Özgeçmiş Yükle</label>
                                <input class="form-control bg-light" type="file" id="resume" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <textarea class="form-control bg-light" placeholder="Mesajınız" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="col-md-4 ms-auto">
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Gönder</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>