@model List<OpenPosition>
@{
    ViewBag.Title = "Human Resources";
    Layout = "_Layout";
}
@section Links {
    <link href="~/lib/filepond/filepond.min.css" rel="stylesheet" />
}
<div class="parallax-section-humanresources">
    <h2 class="display-4">İnsan Kaynakları</h2>
</div>

<section class="py-2 section-humanresources">
    <div class="container mb-5">
        <div class="row justify-content-between mt-5 mb-5">

            <!-- Bilgilendirme Kısmı-->
            <div class="col-lg-5 mt-5 mb-5 mt-lg-0">
                <div class="p-4 bg-light text-dark shadow-sm rounded">
                    <h4><b>MagicWall</b> Profesyonel kişilerle çalışmak istiyor!</h4>
                    <p>Formdaki tüm alanları eksiksiz olarak doldurun. Başvuru değerlendirme komitesi başvuruları değerlendirecek ve olumlu değerlendirilen adaylar mülakat için randevulu olarak MagicWall tarafından çağırılacaktır.</p>
                    <h5>Açık Pozisyonlar</h5>
                    <ul>
                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <li>@item.Name</li>
                            }
                        }
                    </ul>
                </div>
            </div>

            <!-- Başvuru Formu -->
            <div class="col-lg-6">
                <h2 class="fw-semibold mb-3">İş Başvuru Formu</h2>
                <form enctype="multipart/form-data" asp-controller="Home" asp-action="HumanResources">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input class="form-control bg-light" name="FirstName" placeholder="Ad" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input class="form-control bg-light" name="LastName" placeholder="Soyad" type="text" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <input class="form-control bg-light" name="Email" placeholder="Email" type="email" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <input class="form-control bg-light" name="Phone" placeholder="Telefon" type="tel" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="position" class="form-label">Başvurduğunuz Alan</label>
                                <select class="form-select bg-light" id="position" name="OpenPosition" required>
                                    <option value="" selected disabled>Bir pozisyon seçin</option>
                                    @if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="resume" class="form-label">Özgeçmiş Yükle</label>
                                <input type="file" name="FormFileInput" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <textarea class="form-control bg-light" name="Message" placeholder="Mesajınız" rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 ms-auto">
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Gönder</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/lib/filepond/filepond.min.js"></script>
    <script src="~/js/filepondinit.js"></script>
}