@{
    ViewData["Title"] = "MagicWall3D";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row" style="min-height:600px;">
        <div class="col-12 d-flex justify-content-center">
            <canvas id="unity-canvas" width=1060 height=600 tabindex="-1" style="width: 1060px; height: 600px; background: #231F20"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Build/3dwallpublish.loader.js"></script>
    <script>
        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
          // Mobile device style: fill the whole browser client area with the game canvas:
          var meta = document.createElement('meta');
          meta.name = 'viewport';
          meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
          document.getElementsByTagName('head')[0].appendChild(meta);

          var canvas = document.querySelector("#unity-canvas");
          canvas.style.width = "100%";
          canvas.style.height = "100%";
          canvas.style.position = "fixed";

          document.body.style.textAlign = "left";
        }

        createUnityInstance(document.querySelector("#unity-canvas"), {
          arguments: [],
          dataUrl: "/Build/3dwallpublish.data",
          frameworkUrl: "/Build/3dwallpublish.framework.js",
          codeUrl: "/Build/3dwallpublish.wasm",
          streamingAssetsUrl: "StreamingAssets",
          companyName: "MagicWall",
          productName: "MagicWall3D",
          productVersion: "0.3",
          // matchWebGLToCanvasSize: false, // Uncomment this to separately control WebGL canvas render size and DOM element size.
          // devicePixelRatio: 1, // Uncomment this to override low DPI rendering on high DPI displays.
        });
    </script>
}