@model List<ModelPageItem>
@{
    ViewBag.Title = "Models";
    Layout = "_Layout";
}

<!---Modeller--->
<section class="py-5 section-models">
    <div class="container">
        <!-- Başlık ve Açıklama -->
        <div class="row justify-content-center text-center mb-3 mb-md-5">
            <div class="col-lg-8 col-xxl-7">
                <h2 class="display-5 fw-bold mb-3">Modellerimiz</h2>
                <p class="lead">
                    Farklı ihtiyaçlara yönelik özel duvar paneli modellerimizle,
                    mekanlarınıza estetik ve dayanıklılık katıyoruz. Her biri yüksek kalite ve özgün tasarımlarla üretilmiştir.
                </p>
            </div>
        </div>
        <!-- Görsellerin olduğu satırlar -->
        <div class="row mt-2">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="image-wrapper position-relative">
                            <img alt="@item.Name" class="img-fluid" src="~/Files/Models/@item.Image">
                            <a class="btn btn-custom position-absolute start-50 translate-middle-x bottom-0 mb-3">@item.Name</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!----End Modeller-->
<!----S.S.S-->
<section class="py-5 section-questions">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8 col-xl-7">
                <h5 class="display-6 fw-bold">Sıkça Sorulan Sorular</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row g-4 g-md-5">
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <div class="text-primary me-4">
                                <i class="fas fa-question-circle fa-2x"></i>
                            </div>
                            <div>
                                <h5 class="mb-2 mb-lg-4 fw-bold">Lorem ipsum dolor adipisicing?</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nihil. Praesentium nostrum fugiat id dolor.</p>
                                <a href="#" class="read-more">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <div class="text-primary me-4">
                                <i class="fas fa-question-circle fa-2x"></i>
                            </div>
                            <div>
                                <h5 class="mb-2 mb-lg-4 fw-bold">Lorem ipsum dolor sit amet?</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nihil. Praesentium nostrum fugiat id dolor.</p>
                                <a href="#" class="read-more">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <div class="text-primary me-4">
                                <i class="fas fa-question-circle fa-2x"></i>
                            </div>
                            <div>
                                <h5 class="mb-2 mb-lg-4 fw-bold">Lorem ipsum dolor elit?</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nihil. Praesentium nostrum fugiat id dolor.</p>
                                <a href="#" class="read-more">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!----End S.S.S-->
