@{
    ViewBag.Title = "Video Gallery";
    Layout = "_Layout";
}

<!--- Videolar --->
<section class="py-5 section-video">
    <div class="container">
        <div class="row justify-content-center text-center mb-3 mb-md-5">
            <div class="col-lg-8 col-xxl-7">
                <h2 class="display-5 fw-bold mb-3">Video Galeri</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta harum ipsum venenatis metus sem veniam eveniet aperiam suscipit.</p>
            </div>
        </div>
        <div class="row">
            <!-- Video 1 -->
            <div class="col-md-6 mb-5">
                <div class="video-container position-relative">
                    <video width="100%" muted class="rounded" preload="metadata">
                        <source src="~/img/video-1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <span class="model-name">Model 1</span>
                    </div>
                </div>
            </div>

            <!-- Video 2 -->
            <div class="col-md-6 mb-5">
                <div class="video-container position-relative">
                    <video width="100%" muted class="rounded" preload="metadata">
                        <source src="~/img/video-3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <span class="model-name">Model 2</span>
                    </div>
                </div>
            </div>

            <!-- Video 3 -->
            <div class="col-md-6 mb-5">
                <div class="video-container position-relative">
                    <video width="100%" muted class="rounded" preload="metadata">
                        <source src="~/img/video-3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <span class="model-name">Model 3</span>
                    </div>
                </div>
            </div>

            <!-- Video 4 -->
            <div class="col-md-6 mb-5">
                <div class="video-container position-relative">
                    <video width="100%" muted class="rounded" preload="metadata">
                        <source src="~/img/video-1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <span class="model-name">Model 4</span>
                    </div>
                </div>
            </div>

            <!-- Video 5 -->
            <div class="col-md-6 mb-5">
                <div class="video-container position-relative">
                    <video width="100%" muted class="rounded" preload="metadata">
                        <source src="~/img/video-5.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <span class="model-name">Model 5</span>
                    </div>
                </div>
            </div>

            <!-- Video 6 -->
            <div class="col-md-6 mb-5">
                <div class="video-container position-relative">
                    <video width="100%" muted class="rounded" preload="metadata">
                        <source src="~/img/video-6.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                        <span class="model-name">Model 6</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--- End Videolar --->
